{% extends 'ZenwebAventureParcBundle:Front:page_layout.html.twig' %}
{% block zenweb_fo_content %}

    <section class="content" style="padding:5% 20% 0 20%">
        <div class="panel panel-alert panel-primary">
            <div class="panel-heading">Annulation de votre commande</div>
            <div class="panel-body">
                Erreur lors du paiement
            </div>
        </div>
    </section>
{% endblock %}