{% extends 'ZenwebAventureParcBundle:Front:page_layout.html.twig' %}
{% block zenweb_fo_content %}

<section class="content" style="padding:5% 20% 0 20%">
    <div class="panel panel-info panel-primary">
        <div class="panel-heading">Validation de votre commande</div>
        <div class="panel-body">
            Merci
        </div>
    </div>
</section>
{% endblock %}
