<div class="col-md-8 col-md-offset-2">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-footer">
                <ul class="nav navbar-nav">
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/mentions-legales">Mentions légales</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#">Conditions générales de vente</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/construction">Construction</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/booking">Réservation</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logo</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>