<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Aventure Aventure</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vos parcs <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vos offres <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Grand public</a></li>
                <li><a href="#">Groupes et collectivites</a></li>
                <li><a href="#">Scolaire et centres de loisir</a></li>
                <li><a href="#">Séminaires et Incentives Pro</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">En pratique <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Décharges</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>