<html>
<head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'ZenwebAventureParcBundle:Front:menu_top.html.twig' %}

    {% block zenweb_fo_content %}
    {% endblock zenweb_fo_content %}

    {% include 'ZenwebAventureParcBundle:Front:menu_bot.html.twig' %}
</body>
</html>