<html>
<head>
    <title>{% block zenweb_aventure_fo_head_title %} Aventure Aventure {% endblock %}</title>
    <meta name="keywords" content="parcours aventure, parc aventure, seine et marne, 77, 75, 95, parc loisirs, parc attractions, accrobranche, acrobranche, parc dans les branches, tyrolienne, escalade, saut tarzan, paris, IDF, ile de france, aventure aventure, aventure participations, pont de singe, enterrement vie célibataire, enterrement vie garçon, enterrement vie jeune fille, anniversaire, anniversaire enfant, anniversaire adulte, pinata, chasse au trésor, seminaire, entreprise, amis, famille, laserball, laser game, paintball, babyfoot, trampoline, gonflable, pans d escalade, slack lines, hamacs géants, circuit forestier pédagogique, noe conservation, canöe, parcours aventure dans les arbres, karting, rafting, randonnées quad, aventure extreme, aventure inoubliable, saut elastique, saut pendulaire, descente surf extreme, buggy, power skate, bengy ejection, ligne de vie continue, LVC, SNEPA, agrement inspection academique, sorties scolaires, PNA, Paris Nord Aventure, POA, Paris Ouest Aventure, PEA, Paris Est Aventure, PSA, Paris Sud Aventure, davy crockett aventure, accrobranche disney davy crockett ranch, sainte assise, parcours aventure du chateau de sainte assise, seine port, serris, villeneuve le comte, bailly romainvilliers, parcours aventure base loisirs saint quentin yvelines, construction parcs accrobranche, parc acrobatique forestier, parc acrobatique en hauteur, billetterie, CE, comite entreprise, parcours vert, parcours bleu, parcours rouge, parcours noir" />
    <meta name="description" content="Les plus grands parcours aventure dans les arbres à 20mn de Paris! Pour toutes vos sorties: amis, famille, séminaires/entreprise, scolaires, C.E.!" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/zenwebaventureparc/css/fo.css') }}" media="all" />
    {% block zenweb_fo_css %}{% endblock zenweb_fo_css %}
    {% block zenweb_fo_js %}{% endblock zenweb_fo_js %}
</head>
<body>
    {% block zenweb_fo_top_menu %} {{ render(controller('ZenwebAventureParcBundle:Front:menuTop', { 'active': null })) }} {% endblock %}
    {% block zenweb_fo_content %}{% endblock zenweb_fo_content %}
    {% include 'ZenwebAventureParcBundle:Front:menu_bot.html.twig' %}
</body>
</html>