{% extends "ZenwebAventureParcBundle:Front:page_layout.html.twig" %}
{% block zenweb_fo_top_menu %} {{ render(controller('ZenwebAventureParcBundle:Front:menuTop', { 'active': 'offers' })) }} {% endblock %}
{% block zenweb_fo_content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
        <div class="panel-heading">GRAND PUBLIC</div>
        <div class="panel-body">
            Différentes formules vous sont proposées, en fonction de vos objectifs, de vos disponibilités et de votre budget.
        </div>
    </div>
</div>
{% endblock zenweb_fo_content %}
