{% extends "ZenwebAventureParcBundle:Front:page_layout.html.twig" %}
{% block zenweb_fo_content %}
<div class="col-md-8 col-md-offset-2">
    OFFRES GROUPE
</div>
{% endblock zenweb_fo_content %}
