/**
* TODO
*/
#test {
    color: #F00;
    border: 1px solid #000000;
    border-color: #000;
}

.stepList .craue_formflow_current_step a {
    color: #000000 !important;
    background: #163038;
    text-shadow: 100px 1px 1px rgba(0,0,0, 0.8);
}

