{{ form_errors(form.items) }}
<table id="activity_items" class="table table-bordered table-striped">
    <thead>
    <tr class="sonata-ba-list-field-header">
        <th class="sonata-ba-list-field-header-text">Activité</th>
        <th class="sonata-ba-list-field-header-text">Quantité</th>
        <th class="sonata-ba-list-field-header-text">Prix</th>
        <th class="sonata-ba-list-field-header-text">Action</th>
    </tr>
    </thead>

    <tbody>
        {{ form_widget(form.items) }}
    </tbody>
</table>
<script>
    //Load prices:
    function getPrices(tsId, $priceSelect, qty) {
        qty = typeof qty !== 'undefined' ? qty : 1;
        userId = {{ userId }};
        var DATA = 'id=' + tsId + '&userId=' + userId +'&qty=' + qty;
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: "{{ path('zenweb_aventure_parc_admin_order_create_get_prices') }}",
            data: DATA,
            success: function (msg) {
                $priceSelect.html('');
                $.each(msg, function (index, price) {
                    priceValue = typeof price.TierPrices[0] !== 'undefined' ? price.TierPrices[0].price : price.price
                    $priceSelect.append('<option value="' + price.id + '" selected="selected"> ' + price.name + ' (' + priceValue + ' €) </option>');
                });
            }
        });
    }
</script>