<script>

    /*
     * This file is part of the Symfocal Calendar v1.0.
     *
     * (c) Symfocal http://www.symfocal.com
     * alban@symfocal.com
     *
     * For the full copyright and license information, please view the LICENSE
     * file that was distributed with this source code.
     */

    var gap = 0;//global variable to follow what months to display
    var month = {{ month }};
    var year = {{ year }};
    var parcId = {{ parc_id }};//Default parcId
    var typicalDay = null; //Which typicalDay are we adding to our booking.

    jQuery(document).ready(function () {

        var cal1 = $('#cal1');
        var cal2 = $('#cal2');

        $('#link_next').attr('onclick', '').click(function (e) {
            e.preventDefault();
            changeMonths(1)
        });
        $('#link_prev').attr('onclick', '').click(function (e) {
            e.preventDefault();
            changeMonths(-1)
        });

        function fillCalendar(mois, annee, cal) {
            if(parcId == 0) {return false};
            cal.css('display', 'none');
            cal.find('a').removeClass().unbind();//clear classes and events of <a> elements inside the calendar before applying the new styles and events based on ajax response
            cal.find('a').css('background-color',"#bcada4");

            var url = "{{ path('zenweb_aventure_parc_calendar_admin_load') }}";
            var id = cal.attr('id');
            $.post(url, {
                month: mois,
                year: annee,
                parcId: parcId
            }, function (data) {
                //the response is in the data variable
                if (data.responseCode == 200) {
                    var days_previous_month = data.days_previous_month;
                    var nb_days_prev = data.nb_days_prev;
                    $('#' + id + '_title').html(data.current_month);
                    var count = 1;
                    while (count < 43) {
                        if (data.calendar[(count - 1)].dates != "")//in admin, if the date is valid, we attach an action to change date state on the click event
                        {
                            $('#' + id + '_cell_' + count).attr("title", data.calendar[(count - 1)].dates).click(function(e){
                                e.preventDefault();
                                $('#createOrderDate_bookingDate').val(($(this).attr('title')));
                            });//This is a trick to pass an event to a non-anonymous function, which is not posible with the classic .click(function(e){myFunction()})
                        }
                        else {
                            $('#' + id + '_cell_' + count).click(function (e) {
                                e.preventDefault();
                            });
                        }
                        if (data.calendar[(count - 1)].booked == -1) {
                            $('#' + id + '_cell_' + count).html(days_previous_month - nb_days_prev + count);
                        } else {
                            $('#' + id + '_cell_' + count).html(data.calendar[(count - 1)].fill);
                        }
                        if (data.calendar[(count - 1)].booked == 1) {
                            var square_color = data.calendar[(count - 1)].couleur;
                            $('#' + id + '_cell_' + count).css('background-color',"#"+square_color);
                        } else if (data.calendar[(count - 1)].booked < 0){
                            $('#' + id + '_cell_' + count).addClass("dates_preview");
                        }
                        count++;
                    }
                    cal.css('display', 'block');
                }
                else if (data.responseCode == 400)//bad request
                {
                    alert(data.message);
                }
                else {
                    //any other error is treated here
                    alert("An unexpeded error occured.");
                }
            });
            return false;
        }

        function changeMonths(step)//this function is set for displaying 2 months - to do: needs to be flexible based on number of months displayed
        {
            gap = gap + step;
            var newMonth = month + (2 * gap) % 12;
            var gapYear = (2 * gap) / 12;
            var newYear = year + gapYear - gapYear % 1;
            if (newMonth <= 0) {
                newMonth += 12;
            }
            fillCalendar(newMonth - 12 * Math.floor((newMonth) / 13), newYear + Math.floor((newMonth) / 13), cal1);
            fillCalendar(newMonth + 1 - 12 * Math.floor((newMonth + 1) / 13), newYear + Math.floor((newMonth + 1) / 13), cal2);
        }
        changeMonths(0);
    });
</script>
<div id="symfocal_admin" class="shadow_effect">
    <div id="manager">
    </div>
    <div id="control_nav" style="width: 470px;">
        <a id="link_prev" href="#">Prev</a>
        <a id="link_next" href="#">Next</a>
    </div>

    <div id="calendars_container">
        {% include 'DpCalendarBundle:Default:cal.html.twig' with {'calId': 'cal1'} %}
        {% include 'DpCalendarBundle:Default:cal.html.twig' with {'calId': 'cal2'} %}
    </div>
    <div id="clear" style="clear:both">&nbsp;</div>
</div>
