{% block flat_order_list_status %}
    {% if status == 0 %}
        <span class="label label-warning">Commande ouverte</span>
    {% elseif status == 1 %}
        <span class="label label-default">Commande bloquée</span>
    {% elseif status == 2 %}
        <span class="label label-success">Commande validée</span>
    {% elseif status == 3 %}
        <span class="label label-danger">Commande annulée</span>
    {% elseif status == 4 %}
        <span class="label label-danger">Commande en erreur</span>
    {% elseif status == 5 %}
        <span class="label label-danger">Commande stoppée</span>
    {% elseif status == 6 %}
        <span class="label label-info">Paiement à l'arrivée</span>
    {% elseif status == 9 %}
        <span class="label label-danger">Paiement CB en attente</span>
    {% elseif status == 7 %}
        <span class="label label-success">Paiement CB OK</span>
    {% elseif status == 8 %}
        <span class="label label-danger">Paiement CB KO</span>
    {% else %}
        <span class="label label-danger">Statut inconnu</span>
    {% endif %}
{% endblock %}