<div class="row">
            {% render controller("SonataUserBundle:SecurityFOSUser1:login") %}
    <div class="col-sm-6">
            {% render controller("SonataUserBundle:RegistrationFOSUser1:register") %}
    </div>
</div>